<%const getRandomProducts = (arr, n) => { %>
  <% var result = [] %>
    <%  var len = arr.length %>
  <% while (n--) { %>
      <% var x = Math.floor(Math.random() * len) %>
      <% result.push(arr[x]) %>
    <% } %>
  <% return result %>
<% } %>

<div class="product-minimal">
    <div class="product-showcase">
      <h2 class="title">Sản Phẩm Mới</h2>
      <div class="showcase-wrapper has-scrollbar">
        <div class="showcase-container">
        <% getRandomProducts(products, 4).forEach(prod => { %>
            <div class="showcase">
              <a href="<%= prod.link %>" class="showcase-img-box">
                <img
                  src="<%= prod.image %>"
                  alt="<%= prod.name %>"
                  width="70"
                  class="showcase-img"
                />
              </a>
  
              <div class="showcase-content">
                <a href="<%= prod.link %>">
                  <h4 class="showcase-title">
                    <%= prod.name %>
                  </h4>
                </a>
  
                <a href="#" class="showcase-category">Sale</a>
  
                <div class="price-box">
                  <p class="price"><%= prod.price + '.000 đ'%></p>
                  <del><%= (prod.price * 100 / prod.discount).toFixed(0) + '.000đ' %></del>
                </div>
              </div>
            </div>
          <% }) %>
        </div>

        <div class="showcase-container">
          <% getRandomProducts(products, 4).forEach(prod => { %>
            <div class="showcase">
              <a href="<%= prod.link %>" class="showcase-img-box">
                <img
                  src="<%= prod.image %>"
                  alt="<%= prod.name %>"
                  width="70"
                  class="showcase-img"
                />
              </a>
  
              <div class="showcase-content">
                <a href="<%= prod.link %>">
                  <h4 class="showcase-title">
                    <%= prod.name %>
                  </h4>
                </a>
  
                <a href="#" class="showcase-category">Sale</a>
  
                <div class="price-box">
                  <p class="price"><%= prod.price + '.000 đ'%></p>
                  <del><%= (prod.price * 100 / prod.discount).toFixed(0) + '.000đ' %></del>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>

    <div class="product-showcase">
      <h2 class="title">Trending</h2>

      <div class="showcase-wrapper has-scrollbar">
        <div class="showcase-container">
          <% getRandomProducts(products, 4).forEach(prod => { %>
            <div class="showcase">
              <a href="<%= prod.link %>" class="showcase-img-box">
                <img
                  src="<%= prod.image %>"
                  alt="<%= prod.name %>"
                  width="70"
                  class="showcase-img"
                />
              </a>
  
              <div class="showcase-content">
                <a href="<%= prod.link %>">
                  <h4 class="showcase-title">
                    <%= prod.name %>
                  </h4>
                </a>
  
                <a href="#" class="showcase-category">Sale</a>
  
                <div class="price-box">
                  <p class="price"><%= prod.price + '.000 đ'%></p>
                  <del><%= (prod.price * 100 / prod.discount).toFixed(0) + '.000đ' %></del>
                </div>
              </div>
            </div>
          <% }) %>
        </div>

        <div class="showcase-container">
          <% getRandomProducts(products, 4).forEach(prod => { %>
            <div class="showcase">
              <a href="<%= prod.link %>" class="showcase-img-box">
                <img
                  src="<%= prod.image %>"
                  alt="<%= prod.name %>"
                  width="70"
                  class="showcase-img"
                />
              </a>
  
              <div class="showcase-content">
                <a href="<%= prod.link %>">
                  <h4 class="showcase-title">
                    <%= prod.name %>
                  </h4>
                </a>
  
                <a href="#" class="showcase-category">Sale</a>
  
                <div class="price-box">
                  <p class="price"><%= prod.price + '.000 đ'%></p>
                  <del><%= (prod.price * 100 / prod.discount).toFixed(0) + '.000đ' %></del>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>

    <div class="product-showcase">
      <h2 class="title">Xếp Hạng Đầu</h2>

      <div class="showcase-wrapper has-scrollbar">
        <div class="showcase-container">
          <% getRandomProducts(products, 4).forEach(prod => { %>
            <div class="showcase">
              <a href="<%= prod.link %>" class="showcase-img-box">
                <img
                  src="<%= prod.image %>"
                  alt="<%= prod.name %>"
                  width="70"
                  class="showcase-img"
                />
              </a>
  
              <div class="showcase-content">
                <a href="<%= prod.link %>">
                  <h4 class="showcase-title">
                    <%= prod.name %>
                  </h4>
                </a>
  
                <a href="#" class="showcase-category">Sale</a>
  
                <div class="price-box">
                  <p class="price"><%= prod.price + '.000 đ'%></p>
                  <del><%= (prod.price * 100 / prod.discount).toFixed(0) + '.000đ' %></del>
                </div>
              </div>
            </div>
          <% }) %>
        </div>

        <div class="showcase-container">
          <% getRandomProducts(products, 4).forEach(prod => { %>
            <div class="showcase">
              <a href="<%= prod.link %>" class="showcase-img-box">
                <img
                  src="<%= prod.image %>"
                  alt="<%= prod.name %>"
                  width="70"
                  class="showcase-img"
                />
              </a>
  
              <div class="showcase-content">
                <a href="<%= prod.link %>">
                  <h4 class="showcase-title">
                    <%= prod.name %>
                  </h4>
                </a>
  
                <a href="#" class="showcase-category">Sale</a>
  
                <div class="price-box">
                  <p class="price"><%= prod.price + '.000 đ'%></p>
                  <del><%= (prod.price * 100 / prod.discount).toFixed(0) + '.000đ' %></del>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>